{% extends "/html/index.html" %}

{% block content %}

<style>
table{
    margin-top : 5%;
    margin-right: 25%;
    margin-left: -50%;
    }
</style>
<table class="table table-striped">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Obj</th>
            {% for date in dates %}
              <th scope="col"> {{ date }} </th>
            {% endfor %}
          </tr>
          {% for object in names %}
          <tr>
            <th scope="col"> {{ object.name }}</th>
            {% for time in timestamps %}
                  <th scope="col"> {{rates.get(object.id, {}).get(time, '-')}}</th>
            {% endfor %}
          </tr>
          {% endfor %}

        </thead>
</table>
<a class="btn btn-secondary btn-sm" href="{{ url_for('profile.show_grades', page=page-1)}}"> << </a>
<a class="btn btn-secondary btn-sm" href="{{ url_for('profile.show_grades', page=page+1)}}"> >> </a>
{% endblock %}