{% extends "/html/index.html" %}

{% block content %}

<style>
table{
    margin-top : 5%;
    margin-right: 25%;
    margin-left: -50%;
    }
</style>
<table class="table table-striped">
        <thead class="thead-dark">
          <tr>

            <th scope="col">Obj</th>
            {% for date in dates %}
              <th scope="col"> {{ date }} </th>
            {% endfor %}
          </tr>
          {% for id in ids %}
          <tr>
            <th scope="col"> {{ id }}</th>
            {% for time in timestamps %}
                  <th scope="col"> {{rates.get(id, {}).get(time, '-')}}</th>
            {% endfor %}
          </tr>
          {% endfor %}

        </thead>
</table>
{% endblock %}