{% extends "/html/index.html" %}

{% block content %}
<style>
table{
    margin-top : 5%;
    margin-right: 25%;
    margin-left: -50%;
    }
</style>
<form id="objects" method="POST">
    <select id="objects_list" style="margin-top : 5%; margin-left : -45%" onchange="document.location=this.options[this.selectedIndex].value">
        <option id="select" value="select" disabled="" selected="">Please Select</option>
        {% for object in objects %}
            <option value="{{ object.name }}"> {{ object.name }} </option>
        {% endfor %}
    </select>
</form>

<table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            {% for date in dates %}
              <th scope="col"> {{ date }} </th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
            <th> {{ ids.pop() }}</th>
            {% for time in timestamps %}
                <th> <input maxlength="3" size="1" type="text" value= "{{users.get(user, {}).get(objective, {}).get(time, '-')}}"></th>
            {% endfor %}
            </tr>
        {% endfor %}
        </thead>
</table>

<a class="btn btn-secondary btn-sm" href="{{url_for('api.update_group_rates', group_id=group_id, objective=objective)}}">Change</a>

{% endblock %}