{% extends "/html/index.html" %}

{% block content %}

<form id="objects" method="POST">
    <select id="objects_list" style="margin-top : 5%; margin-left : -45%" onchange="document.location=this.options[this.selectedIndex].value">
        <option id="select" value="select" disabled="" selected="">Please Select</option>
        {% for object in objects %}
            <option value="{{ object.name }}"> {{ object.name }} </option>
        {% endfor %}
    </select>
</form>

<form method="POST" action="{{url}}">

<table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            {% for date in dates %}
              <th scope="col"> {{ date }} </th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
            <th> {{ ids.pop() }}</th>
            {% for time in timestamps %}
                <th> <input class="grade_input1" name="grade_input{{user}}_{{time}}" style="background-color : #d6d6d6"
                            maxlength="3" size="1" type="text"
                            value="{{users.get(user, {}).get(objective_id, {}).get(time, '-')}}" ></th>
            {% endfor %}
            </tr>
        {% endfor %}
        </thead>
</table>

<button class="btn btn-secondary btn-sm">Change</button>
</form>

<a class="btn btn-secondary btn-sm" href="{{ url_for('profile.show_group', group_id=group_id, objective=objective) }}"
 style="margin-top: 10px"
> Go back </a>

{% endblock %}