{% extends "/html/index.html" %}

{% block content %}

<style>
table{
    margin-top : 5%;
    margin-right: 25%;
    margin-left: -50%;
    }
</style>
<table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            {% for date in dates %}
              <th scope="col"> {{ date }} </th>
            {% endfor %}
        </tr>
        {% set object = 6 %}
        {% for user in users %}
            <tr>
            <th> {{ ids }}, {{ user }}</th>
            {% for time in timestamps %}
                <th> {{ users.get(user, {}).get(object, {}).get(time, '-') }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
        </thead>
</table>
{% endblock %}
