{% extends "/html/index.html" %}

{% block content %}

<form id="objects" method="POST">
    <select id="objects_list" style="margin-top : 5%; margin-left : -45%" onchange="document.location=this.options[this.selectedIndex].value">
        <option id="select" value="select" disabled="" selected="">Please Select</option>
        {% for object in objects %}
            <option value="{{ object.name }}"> {{ object.name }} </option>
        {% endfor %}
    </select>
</form>

<a class="btn btn-secondary btn-sm" href="{{ url_for('profile.change_rates_group', group_id=group_id, objective=objective)}}">Change</a>

<table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            {% for date in dates %}
              <th scope="col"> {{ date }} </th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
            <th> {{ ids.pop() }}</th>
            {% for time in timestamps %}
                <th> {{ users.get(user, {}).get(objective_id, {}).get(time, '-') }}</th>
            {% endfor %}
            </tr>
        {% endfor %}
        </thead>
</table>
<a class="btn btn-secondary btn-sm" href="{{ url_for('profile.show_group', group_id=group_id, objective=objective, page=page-1)}}"> << </a>
<a class="btn btn-secondary btn-sm" href="{{ url_for('profile.show_group', group_id=group_id, objective=objective, page=page+1)}}"> >> </a>
{% endblock %}
