{% extends "/html/index.html" %}

{% block content %}
<div class="content-section">
    <style>
    h1   {margin-top: 5%}
    </style>
    <h1 class="title">
      Welcome, {{ name }}!
    </h1>
  <div class="content-section">
    <h1>User</h1>
    {% if not current_user.is_authenticated %}
      <p>No results</p>
    {% else %}
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">Rates</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ current_user.id }}</a></td>
              <td>{{ current_user.name }}</a></td>
              <td><a class="btn btn-secondary btn-sm" href="{{ url_for('profile.show_grades')}}">Get grades</a></td>

            </tr>
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
{% endblock %}